@import "src/styles/mixins";

.locale-toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 72px;
  height: 24px;
  padding: 4px;
  gap: 0;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);

  @include uhd {
    width: 122px;
    height: 42px;
    padding: 8px;
    border-radius: 32px;
    border: 2px solid rgba(255, 255, 255, 0.4);
  }

  .locale-toggle-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 24px;
    border-radius: 400px;
    color: #ffffff;

    @include uhd {
      width: 58px;
      height: 42px;
    }

    &.selected {
      color: #232323;
      background-color: #ffffff;
    }
  }
}