@import "../../../styles/mixins";

@include fhd {
  .mission-text {
    width: 455px;
    left: 60px;
    bottom: 180px;

    .mission-title {
      font-size: 38px;
    }

    .mission-value {
      font-size: 24px;
    }
  }
}