@import "../../../styles/colors";

@import "MissionText.component.hd";
@import "MissionText.component.fhd";
@import "MissionText.component.uhd";

.mission-text {
  position: absolute;
  color: $dark-grey;

  .mission-title {
    font-family: "SigmundPro-SemiBold";
  }

  .mission-value {
    font-family: "SigmundPro-Ultralight";
  }
}