@import "../../../styles/mixins";

@include uhd {
  .mission-text {
    width: 910px;
    left: 120px;
    bottom: 360px;

    .mission-title {
      font-size: 76px;
    }

    .mission-value {
      font-size: 48px;
    }
  }
}