@import "../../../styles/colors";

@import "TamText.component.hd";
@import "TamText.component.fhd";
@import "TamText.component.uhd";

.tam-text {
  font-family: "SigmundPro-Ultralight";
  position: absolute;
  color: $cream-white;
  margin-left: 25%;

  .highlighted {
    font-family: "SigmundPro-SemiBold";
  }
}