@import "src/styles/mixins";

.project-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #232323;

  &::-webkit-scrollbar {
    display: none;
  }

  .project-header-container {
    position: relative;
    width: 100%;
    max-height: 842px;
    overflow: hidden;
    color: #ffffff;

    @include uhd {
      max-height: 1600px;
    }
  }

  .project-thumbnail {
    width: 100%;
    filter: brightness(0.6);
  }

  .project-header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 80px;
    left: 80px;

    @include uhd {
      left: 120px;
      bottom: 120px;
    }
  }

  .project-tags {
    display: flex;
    gap: 4px;
    max-width: 585px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include uhd {
      gap: 8px;
      max-width: 1000px;
      margin-bottom: 32px;
    }
  }

  .project-tag {
    font-family: "SigmundPro-UltraLight";
    font-size: 16px;
    line-height: 20px;
    display: flex;
    padding: 7px 20px 9px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    white-space: nowrap;

    @include uhd {
      font-size: 36px;
      line-height: 40px;
      padding: 12px 24px 16px 24px;
      border-radius: 40px;
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
  }

  .project-title {
    font-family: "T1Korium";
    font-size: 94px;
    line-height: 100px;

    @include uhd {
      font-size: 200px;
      line-height: 220px;
    }
  }

  .project-sections-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    padding: 140px 80px;
    row-gap: 80px;
    column-gap: 20px;

    @include uhd {
      padding: 180px 120px;
      row-gap: 120px;
    }
  }

  &.mobile {
    .project-header-container {
      min-height: 100vh;
      display: flex;
      justify-content: center;
    }

    .project-thumbnail {
      height: 75vh;
      object-fit: cover;
    }

    .project-header-content {
      bottom: 20px;
      left: 20px;
    }

    .project-title {
      height: calc(25vh - 20px);
      transform: translateY(20px);
      font-size: 60px;
      line-height: 52px;
    }

    .project-sections-container {
      display: flex;
      flex-direction: column;
      padding: 60px 12px;
      gap: 60px;
    }

    @include tablet-m {
      .project-header-content {
        left: 40px;
      }

      .project-sections-container {
        padding: 60px 40px;
      }
    }
  }
}