@import "../../styles/colors";
@import "../../styles/animations";
@import "../../styles/z-indexes";

@import "Scrollbar.component.hd";
@import "Scrollbar.component.fhd";
@import "Scrollbar.component.uhd";

.scrollbar-container {
  animation: fadein 1s forwards;
  opacity: 0;
  animation-delay: 2s;

  .scrollbar {
    background-color: $lite-grey;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    transition: top 0.3s ease-out;
    z-index: $scroll-z-index;
  }
}