@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scalein {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(300);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}