@font-face {
  font-family: "SigmundPro-Light";
  src: url("/assets/fonts/Sigmund PRO Light.ttf");
}

@font-face {
  font-family: "SigmundPro-Regular";
  src: url("/assets/fonts/Sigmund PRO Regular.ttf");
}

@font-face {
  font-family: "T1Korium";
  src: url("/assets/fonts/T1KoriumVF.ttf");
}