@font-face {
  font-family: "Syne";
  src: url("/assets/fonts/Syne.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter.ttf");
}

@font-face {
  font-family: "SigmundPro-Ultralight";
  src: url("/assets/fonts/SigmundPRO-UltraLight.woff2");
}

@font-face {
  font-family: "SigmundPro-Light";
  src: url("/assets/fonts/SigmundPRO-Light.woff2");
}

@font-face {
  font-family: "SigmundPro-SemiBold";
  src: url("/assets/fonts/SigmundPRO-SemiBold.woff2");
}

@font-face {
  font-family: "SigmundPro-Bold";
  src: url("/assets/fonts/SigmundPRO-Bold.woff2");
}