.header {
  position: fixed;
  right: 0;
  left: 0;
  height: 68px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header-logo {
  background-image: url("/assets/images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  font-family: "SigmundPro-Light";
  color: white;
  filter: invert(1);

  &:hover .menu-item {
    opacity: 0.4;
  }

  .menu-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }

    &:last-of-type .menu-content-container {
      padding: 0 0 0 85px;
    }
  }

  .menu-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 85px;
  }

  .menu-item-divider {
    display: flex;
    align-items: center;
  }
}