@import "../../../styles/mixins";

@include hd {
  .contact {
    .contact-content {
      font-size: 32px;
      gap: 10px;
      margin-bottom: 133px;

      .title {
        font-size: 14px;
        margin-bottom: 0;
      }
    }

    .contact-title {
      bottom: 53px;
      left: -7px;
      right: 0;
      font-size: 200px;
      line-height: 152px;
    }

    .footer {
      height: 53px;
      padding: 0 47px;
      border-top-width: 1px;
      font-size: 9px;

      & > div {
        max-width: 466px;
      }

      .logo {
        width: 54px;
        height: 41px;
      }
    }
  }
}
