@import "../../../styles/colors";

@import "Contact.component.hd";
@import "Contact.component.fhd";
@import "Contact.component.uhd";

.contact {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;

  .scroll-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .contact-content {
    font-family: "SigmundPro-Ultralight";
    color: $cream-white;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    margin-left: 6%;
    mix-blend-mode: difference;

    .highlighted {
      font-family: "SigmundPro-SemiBold";
    }

    .street-building,
    .zip-city {
      display: flex;
    }
  }

  .contact-title {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "SigmundPro-Bold";
    color: $cream-white;
    text-transform: uppercase;
    mix-blend-mode: difference;
  }

  .contact-letter {
    display: flex;
  }

  .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top-style: solid;
    border-top-color: $cream-white;
    font-family: "SigmundPro-Ultralight";
    color: $cream-white;
    text-align: center;
    box-sizing: border-box;

    .logo {
      background-image: url("/assets/images/logo.png");
      background-position: center;
      background-size: cover;
    }
  }
}