.section-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: flex-end;
  column-gap: 20px;
  row-gap: 40px;

  .section-media {
    overflow: hidden;

    img, video {
      width: 100%;
    }
  }

  .section-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #ffffff;
  }

  .section-title {
    font-family: "SigmundPro-Regular";
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.04em;
  }

  .section-description {
    font-family: "SigmundPro-Light";
    font-size: 16px;
    line-height: 20px;
  }

  &.full-s-il-tr {
    .section-media {
      grid-column: 1/11;
    }

    .section-text-container {
      grid-column: 13/23;
    }
  }

  &.full-m-il-tr {
    .section-media {
      grid-column: 1/13;
    }

    .section-text-container {
      grid-column: 15/25;
    }
  }

  &.full-l-il-tr {
    .section-media {
      grid-column: 1/15;
    }

    .section-text-container {
      grid-column: 17/25;
    }
  }

  &.full-s-ir-tl {
    .section-text-container {
      grid-row: 1;
      grid-column: 3/13;
    }

    .section-media {
      grid-row: 1;
      grid-column: 15/25;
    }
  }

  &.full-m-ir-tl {
    .section-text-container {
      grid-row: 1;
      grid-column: 1/11;
    }

    .section-media {
      grid-row: 1;
      grid-column: 13/25;
    }
  }

  &.full-l-ir-tl {
    .section-text-container {
      grid-row: 1;
      grid-column: 1/9;
    }

    .section-media {
      grid-row: 1;
      grid-column: 11/25;
    }
  }

  &.full-s-il-tb {
    .section-media {
      grid-column: 1/11;
    }

    .section-text-container {
      grid-column: 1/11;
    }
  }

  &.full-m-il-tb {
    .section-media {
      grid-column: 1/13;
    }

    .section-text-container {
      grid-column: 1/11;
    }
  }

  &.full-l-il-tb {
    .section-media {
      grid-column: 1/15;
    }

    .section-text-container {
      grid-column: 1/11;
    }
  }

  &.full-xl-il-tb {
    .section-media {
      grid-column: 1/21;
    }

    .section-text-container {
      grid-column: 1/11;
    }
  }

  &.full-s-ir-tb {
    .section-media {
      grid-column: 15/25;
    }

    .section-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-m-ir-tb {
    .section-media {
      grid-column: 13/25;
    }

    .section-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-l-ir-tb {
    .section-media {
      grid-column: 11/25;
    }

    .section-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-xl-ir-tb {
    .section-media {
      grid-column: 5/25;
    }

    .section-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-s-ic-tb {
    .section-media {
      grid-column: 8/18;
    }

    .section-text-container {
      grid-column: 8/18;
    }
  }

  &.full-m-ic-tb {
    .section-media {
      grid-column: 7/19;
    }

    .section-text-container {
      grid-column: 7/17;
    }
  }

  &.full-l-ic-tb {
    .section-media {
      grid-column: 6/20;
    }

    .section-text-container {
      grid-column: 6/16;
    }
  }

  &.full-xl-ic-tb {
    .section-media {
      grid-column: 3/23;
    }

    .section-text-container {
      grid-column: 3/13;
    }
  }

  &.full-xxl-ic-tb {
    .section-media {
      grid-column: 1/25;
    }

    .section-text-container {
      grid-column: 1/11;
    }
  }
}