@import "../../styles/colors";
@import "../../styles/mixins";

@include hd {
  .header {
    $header-height: 50px;
    $logo-width: 49px;
    $logo-height: 37px;
    $border: 1px solid $cream-white;

    height: $header-height;
    border-top: $border;
    border-bottom: $border;
    padding-left: 40px;

    .logo {
      width: $logo-width;
      height: $logo-height;
    }

    .menu-item {
      padding: 0 40px;
      border-left: $border;
      font-size: 14px;
    }
  }
}