@import "../../styles/colors";
@import "../../styles/mixins";

@include fhd {
  .header {
    $header-height: 80px;
    $logo-width: 81px;
    $logo-height: 61px;
    $border: 2px solid $cream-white;

    height: $header-height;
    border-top: $border;
    border-bottom: $border;
    padding-left: 60px;

    .logo {
      width: $logo-width;
      height: $logo-height;
    }

    .menu-item {
      padding: 0 70px;
      border-left: $border;
      font-size: 24px;
    }
  }
}