@import "CosArt.component.hd";
@import "CosArt.component.fhd";
@import "CosArt.component.uhd";

.cos-art {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .cos-one,
  .cos-two,
  .cos-three {
    background-size: contain;
  }


  .cos-one {
    background-image: url("/assets/images/cos-art-1.png");
  }

  .cos-two {
    background-image: url("/assets/images/cos-art-2.png");
  }

  .cos-three {
    background-image: url("/assets/images/cos-art-3.png");
  }
}