@import "../../../styles/mixins";

@include hd {
  .cos-art {
    $cos-height: 434px;

    .cos-one,
    .cos-two,
    .cos-three {
      height: $cos-height;
    }


    .cos-one {
      width: 284px;
    }

    .cos-two {
      width: 246px;
    }

    .cos-three {
      width: 304px;
    }
  }
}