@import "../../../styles/mixins";

@include fhd {
  .cos-art {
    $cos-height: 630px;

    .cos-one,
    .cos-two,
    .cos-three {
      height: $cos-height;
    }


    .cos-one {
      width: 425px;
    }

    .cos-two {
      width: 370px;
    }

    .cos-three {
      width: 455px;
    }
  }
}