@import "../../../styles/colors";

@import "AboutText.component.hd";
@import "AboutText.component.fhd";
@import "AboutText.component.uhd";

.about-text {
  position: absolute;
  color: $dark-grey;

  .about-title {
    font-family: "SigmundPro-SemiBold";
  }

  .about-value {
    font-family: "SigmundPro-Ultralight";
  }
}