@import "../../../styles/mixins";

@include fhd {
  .about-text {
    width: 460px;
    right: 60px;
    top: 220px;

    .about-title {
      font-size: 38px;
    }

    .about-value {
      font-size: 24px;
    }
  }
}