.projects {
  position: relative;
  width: 100%;
  background: #232323;
  padding: 120px 0;

  .projects-title-container {
    position: absolute;
    top: 120px;
    right: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
  }

  .projects-title {
    font-family: "T1Korium";
    font-size: 94px;
    line-height: 100px;
  }

  .projects-title-description {
    font-family: "SigmundPro-Light";
    font-size: 28px;
    line-height: 32px;
  }

  .previews-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}