@import "src/styles/mixins";

.projects {
  position: relative;
  background: #232323;

  .projects-title-container {
    position: absolute;
    top: 120px;
    right: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;

    @include fhd {
      top: 140px;
    }

    @include uhd {
      top: 200px;
    }
  }

  .projects-title {
    font-family: "T1Korium";
    font-size: 94px;
    line-height: 100px;

    @include uhd {
      font-size: 200px;
      line-height: 220px;
    }
  }

  .projects-title-description {
    font-family: "SigmundPro-UltraLight";
    font-size: 28px;
    line-height: 32px;

    @include uhd {
      font-size: 60px;
      line-height: 68px;
    }
  }

  .previews-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 120px;

    @include fhd {
      padding-top: 140px;
    }

    @include uhd {
      padding-top: 200px;
      gap: 120px;
    }
  }

  .preview-carousel-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 80px 70px 120px;

    @include uhd {
      gap: 40px;
      padding: 120px 100px 200px;
    }
  }

  &.mobile {
    display: flex;
    flex-direction: column;
    padding: 80px 12px;
    gap: 60px;
    text-align: right;

    .projects-title-container {
      position: relative;
      top: auto;
      right: auto;
      padding: 0;
    }

    .projects-title {
      font-size: 60px;
      line-height: 64px;
      max-width: 250px;
    }

    .projects-title-description {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.04em;
    }

    .previews-container {
      gap: 60px;
      padding: 0;
    }

    .preview-carousel-container {
      padding: 0;
      margin: 0 -10px;
      flex-direction: column;
    }

    @include tablet-m {
      padding: 100px 40px;

      .projects-title {
        font-size: 94px;
        line-height: 100px;
        max-width: none;
      }

      .projects-title-description {
        font-size: 28px;
        line-height: 32px;
      }

      .preview-carousel-container {
        padding: 0;
        margin: 0 -10px;
        flex-direction: column;
      }
    }

    @include tablet-l {
      padding: 120px 40px;
    }

    @include landscape {
      .projects-title {
        max-width: none;
      }
    }
  }
}