@import "src/styles/colors";
@import "../../styles/animations";

@import "MainBrandArt.component.hd";
@import "MainBrandArt.component.fhd";
@import "MainBrandArt.component.uhd";

.main-brand-art {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .logo-canvas-container {
    position: relative;

    .logo-canvas {
      animation: fadein 1s forwards;
      cursor: none;
    }

    .logo-canvas-postfix {
      position: absolute;
      bottom: 0;
      color: $cream-white;
      font-family: "Syne";
      font-weight: bold;
      animation: fadein 1s forwards;
      opacity: 0;
      animation-delay: 1s;
    }
  }
}