@import "src/styles/colors";
@import "../../styles/animations";
@import "../../styles/mixins";

@include fhd {
  .main-brand-art {
    bottom: 96px;

    .logo-canvas-container {
      padding-bottom: 40px;

      .logo-canvas-postfix {
        right: 54px;
        font-size: 85px;
      }
    }
  }
}