@import "src/styles/colors";
@import "../../styles/animations";
@import "../../styles/mixins";

@include hd {
  .main-brand-art {
    bottom: 66px;

    .logo-canvas-container {
      padding-bottom: 30px;

      .logo-canvas-postfix {
        right: 35px;
        font-size: 50px;
      }
    }
  }
}