@import "src/styles/mixins";

.preview-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: flex-end;
  column-gap: 20px;
  row-gap: 20px;

  .preview-image-container {
    overflow: hidden;
  }

  .preview-image-container:hover {
    .preview-image {
      transform: scale(1);
    }
  }

  .preview-image {
    width: 100%;
    cursor: pointer;
    transition: transform .2s;
    transform: scale(1.1);
    transform-origin: center;
  }

  .preview-text-container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
  }

  .preview-title {
    font-family: "T1Korium";
    font-size: 56px;
    line-height: 56px;

    @include uhd {
      font-size: 132px;
      line-height: 140px;
    }

    @include appearance-left-right;
  }

  .preview-description {
    font-family: "SigmundPro-UltraLight";
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;

    @include uhd {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 24px;
    }

    @include appearance-bottom-opacity(0.3s);
  }

  .preview-tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include uhd {
      gap: 8px;
    }

    @include appearance-bottom-opacity(0.5s);
  }

  .preview-tag {
    font-family: "SigmundPro-UltraLight";
    font-size: 16px;
    line-height: 20px;
    display: flex;
    padding: 7px 20px 9px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    white-space: nowrap;

    @include uhd {
      font-size: 32px;
      line-height: 36px;
      padding: 12px 24px 16px 24px;
      border-radius: 40px;
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
  }

  &.full-s-il-tr {
    .preview-image-container {
      grid-column: 1/11;
    }

    .preview-text-container {
      grid-column: 11/18;
    }
  }

  &.full-m-il-tr {
    .preview-image-container {
      grid-column: 1/14;
    }

    .preview-text-container {
      grid-column: 14/21;
    }
  }

  &.full-l-il-tr {
    .preview-image-container {
      grid-column: 1/17;
    }

    .preview-text-container {
      grid-column: 17/24;
    }
  }

  &.full-s-ir-tl {
    .preview-text-container {
      grid-row: 1;
      grid-column: 8/15;
    }

    .preview-image-container {
      grid-row: 1;
      grid-column: 15/25;
    }
  }

  &.full-m-ir-tl {
    .preview-text-container {
      grid-row: 1;
      grid-column: 5/12;
    }

    .preview-image-container {
      grid-row: 1;
      grid-column: 12/25;
    }
  }

  &.full-l-ir-tl {
    .preview-text-container {
      grid-row: 1;
      grid-column: 2/9;
    }

    .preview-image-container {
      grid-row: 1;
      grid-column: 9/25;
    }
  }

  &.full-l-il-tb {
    .preview-image-container {
      grid-column: 1/21;
    }

    .preview-text-container {
      grid-column: 2/11;
    }
  }

  &.full-xl-il-tb {
    .preview-image-container {
      grid-column: 1/24;
    }

    .preview-text-container {
      grid-column: 2/11;
    }
  }

  &.full-l-ir-tb {
    .preview-image-container {
      grid-column: 5/25;
    }

    .preview-text-container {
      grid-column: 15/24;
    }
  }

  &.full-xl-ir-tb {
    .preview-image-container {
      grid-column: 2/25;
    }

    .preview-text-container {
      grid-column: 15/24;
    }
  }

  &.carousel-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;

    @include uhd {
      padding: 0 20px;
    }

    .preview-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
    }

    .preview-image {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%
    }
  }

  &.mobile {
    display: flex;
    flex-direction: column;

    .preview-text-container {
      text-align: left;
    }

    .preview-title {
      font-size: 48px;
      line-height: 52px;
    }

    .preview-description {
      font-size: 16px;
      line-height: 20px;
    }

    .preview-tags {
      margin: 0;
    }

    @include tablet-m {
      .preview-title {
        font-size: 56px;
        line-height: 56px;
      }
    }
  }
}