@import "src/styles/mixins";

.preview-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: flex-end;
  column-gap: 20px;
  row-gap: 20px;

  .preview-image {
    width: 100%;
    cursor: pointer;
  }

  .preview-text-container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
  }

  .preview-title {
    font-family: "T1Korium";
    font-size: 56px;
    line-height: 56px;

    @include appearance-left-right;
  }

  .preview-description {
    font-family: "SigmundPro-UltraLight";
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;

    @include appearance-bottom-opacity(0.3s);
  }

  .preview-tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include appearance-bottom-opacity(0.5s);
  }

  .preview-tag {
    font-family: "SigmundPro-UltraLight";
    font-size: 16px;
    line-height: 20px;
    display: flex;
    padding: 7px 20px 9px 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    white-space: nowrap;
  }

  .glitch-container {
    width: 100%;
  }

  &.full-s-il-tr {
    .glitch-container {
      grid-column: 1/11;
    }

    .preview-text-container {
      grid-column: 13/23;
    }
  }

  &.full-m-il-tr {
    .glitch-container {
      grid-column: 1/13;
    }

    .preview-text-container {
      grid-column: 15/25;
    }
  }

  &.full-l-il-tr {
    .glitch-container {
      grid-column: 1/15;
    }

    .preview-text-container {
      grid-column: 17/25;
    }
  }

  &.full-s-ir-tl {
    .preview-text-container {
      grid-row: 1;
      grid-column: 3/13;
    }

    .glitch-container {
      grid-row: 1;
      grid-column: 15/25;
    }
  }

  &.full-m-ir-tl {
    .preview-text-container {
      grid-row: 1;
      grid-column: 1/11;
    }

    .glitch-container {
      grid-row: 1;
      grid-column: 13/25;
    }
  }

  &.full-l-ir-tl {
    .preview-text-container {
      grid-row: 1;
      grid-column: 1/9;
    }

    .glitch-container {
      grid-row: 1;
      grid-column: 11/25;
    }
  }

  &.full-s-il-tb {
    .glitch-container {
      grid-column: 1/11;
    }

    .preview-text-container {
      grid-column: 1/11;
    }
  }

  &.full-m-il-tb {
    .glitch-container {
      grid-column: 1/13;
    }

    .preview-text-container {
      grid-column: 1/11;
    }
  }

  &.full-l-il-tb {
    .glitch-container {
      grid-column: 1/15;
    }

    .preview-text-container {
      grid-column: 1/11;
    }
  }

  &.full-xl-il-tb {
    .glitch-container {
      grid-column: 1/21;
    }

    .preview-text-container {
      grid-column: 1/11;
    }
  }

  &.full-s-ir-tb {
    .glitch-container {
      grid-column: 15/25;
    }

    .preview-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-m-ir-tb {
    .glitch-container {
      grid-column: 13/25;
    }

    .preview-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-l-ir-tb {
    .glitch-container {
      grid-column: 11/25;
    }

    .preview-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-xl-ir-tb {
    .glitch-container {
      grid-column: 5/25;
    }

    .preview-text-container {
      text-align: right;
      grid-column: 15/25;
    }
  }

  &.full-s-ic-tb {
    .glitch-container {
      grid-column: 8/18;
    }

    .preview-text-container {
      grid-column: 8/18;
    }
  }

  &.full-m-ic-tb {
    .glitch-container {
      grid-column: 7/19;
    }

    .preview-text-container {
      grid-column: 7/17;
    }
  }

  &.full-l-ic-tb {
    .glitch-container {
      grid-column: 6/20;
    }

    .preview-text-container {
      grid-column: 6/16;
    }
  }

  &.full-xl-ic-tb {
    .glitch-container {
      grid-column: 3/23;
    }

    .preview-text-container {
      grid-column: 3/13;
    }
  }

  &.full-xxl-ic-tb {
    .glitch-container {
      grid-column: 1/25;
    }

    .preview-text-container {
      grid-column: 1/11;
    }
  }

  &.carousel-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;

    .preview-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
    }

    .preview-image {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%
    }
  }

  &.mobile {
    display: flex;
    flex-direction: column;

    .preview-text-container {
      text-align: left;
    }

    .preview-title {
      font-size: 48px;
      line-height: 52px;
    }

    .preview-description {
      font-size: 16px;
      line-height: 20px;
    }

    .preview-tags {
      margin: 0;
    }
  }
}