@import "../../../styles/colors";

@import "TamArt.component.hd";
@import "TamArt.component.fhd";
@import "TamArt.component.uhd";

.tam-art {
  position: absolute;
  background-image: url("/assets/images/tam-art.png");
  background-size: contain;
  image-rendering: pixelated;
}